// header.scss

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #008080;

  &__menu {
    padding-inline-start: 0;
    margin: auto;
  }

  &__list {
    display: flex;
    margin: auto;
    list-style-type: none;

    &-title {
      font-size: 1.5rem;
    }
  }
}
